.env*
!.env.example
.expo/
.expo-shared/
supabase/.temp/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

android/.gradle/
android/build/
android/app/build/

.DS_Store
