<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXExpoConfig</key>
    <dict>
      <key>name</key>
      <string>SOON LOG</string>
      <key>slug</key>
      <string>soon-log</string>
      <key>scheme</key>
      <string>soonlog</string>
      <key>version</key>
      <string>1.0.0</string>
      <key>ios</key>
      <dict>
        <key>bundleIdentifier</key>
        <string>network.sooncreator.log</string>
      </dict>
    </dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ALWAYS</string>
    <key>EXUpdatesEnabled</key>
    <false/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>0</integer>
  </dict>
</plist>